$Blue: #235ef1;
$Black: #2c2c2c;
$White: #fcfcfc;

@mixin title() {
  font-size: 32px;
  font-weight: 600;
  line-height: 47.84px;
  color: $Black;
}

@mixin link() {
  font-size: 14px;
  font-weight: 500;
  line-height: 20.93px;
  transition: color 0.1s linear;
  &:hover {
    color: $Blue;
  }
}
