@use "@/scss/variables.scss" as *;

.ButtonTryFree {
  background-color: $Blue;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 26.91px;
  color: $White;
  padding: 10px 24px 12px 24px;
}
